nodered-flow.txt
[{"id":"b6fb89e.5648378","type":"subflow","name":"HVAC Schedule","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"4202122b.ff13ac"}]}],"out":[{"x":1080,"y":20,"wires":[{"id":"74551a47.630244","port":0}]},{"x":1080,"y":60,"wires":[{"id":"74551a47.630244","port":1}]},{"x":1080,"y":100,"wires":[{"id":"74551a47.630244","port":2}]},{"x":1080,"y":140,"wires":[{"id":"74551a47.630244","port":3}]},{"x":1080,"y":200,"wires":[{"id":"e867e978.0602b8","port":0}]},{"x":1080,"y":240,"wires":[{"id":"e867e978.0602b8","port":1}]},{"x":1080,"y":280,"wires":[{"id":"e867e978.0602b8","port":2}]},{"x":1080,"y":320,"wires":[{"id":"e867e978.0602b8","port":3}]}],"env":[],"color":"#DDAA99"},{"id":"70fb75d1.5241bc","type":"switch","z":"b6fb89e.5648378","name":"cool / heat mode","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":120,"wires":[["74551a47.630244"],["e867e978.0602b8"]]},{"id":"74551a47.630244","type":"switch","z":"b6fb89e.5648378","name":"determine schedule","property":"heatsched","propertyType":"msg","rules":[{"t":"eq","v":"morning","vt":"str"},{"t":"eq","v":"evening","vt":"str"},{"t":"eq","v":"overnight","vt":"str"},{"t":"eq","v":"vacation","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":810,"y":80,"wires":[[],[],[],[]]},{"id":"e867e978.0602b8","type":"switch","z":"b6fb89e.5648378","name":"determine schedule","property":"heatsched","propertyType":"msg","rules":[{"t":"eq","v":"morning","vt":"str"},{"t":"eq","v":"evening","vt":"str"},{"t":"eq","v":"overnight","vt":"str"},{"t":"eq","v":"vacation","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":810,"y":260,"wires":[[],[],[],[]]},{"id":"bfc55a48.300948","type":"api-current-state","z":"b6fb89e.5648378","name":"check heat or cool","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.heating_mode","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":240,"wires":[["70fb75d1.5241bc"]]},{"id":"4202122b.ff13ac","type":"api-current-state","z":"b6fb89e.5648378","name":"check if boost","server":"a8f6d56d.afef28","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.heating_boost_master","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":240,"y":60,"wires":[["bfc55a48.300948"],[]]},{"id":"3475c880.46cbe8","type":"subflow","name":"HVAC - Delay","info":"","category":"","in":[{"x":100,"y":40,"wires":[{"id":"e8e4303b.38a7"}]}],"out":[{"x":500,"y":360,"wires":[{"id":"33a1b059.8b2e8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e8e4303b.38a7","type":"api-current-state","z":"3475c880.46cbe8","name":"Get duration to boost","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.hour_select","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":120,"wires":[["90fa57ee.a4ae88"]]},{"id":"8f048076.b4c83","type":"change","z":"3475c880.46cbe8","name":"Move converted to msg.delay","rules":[{"t":"move","p":"payload","pt":"msg","to":"delay","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[["33a1b059.8b2e8"]]},{"id":"90fa57ee.a4ae88","type":"function","z":"3475c880.46cbe8","name":"Convert / Store the duration value.","func":"if (msg.payload > 0)\n{\n    //   Delete the line below (or put // at the start)\n    let delay = msg.payload * 3600000\n    msg.payload = delay\n    return msg;\n}\n    //   Delete the line below (or put // at the start)\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["8f048076.b4c83"]]},{"id":"33a1b059.8b2e8","type":"delay","z":"3475c880.46cbe8","name":"Wait until time is up","pauseType":"delayv","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":300,"wires":[[]]},{"id":"be7bae1.f58be5","type":"subflow","name":"Heat Subflow ","info":"","category":"","in":[{"x":200,"y":80,"wires":[{"id":"5cef2144.4b28c"}]}],"out":[{"x":1710,"y":600,"wires":[{"id":"5bee988a.d723e8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c2ec02c0.0b299","type":"api-current-state","z":"be7bae1.f58be5","name":"get current outside temp","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.pentair_airtemp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":890,"y":260,"wires":[["2467b9b5.f280c6"]]},{"id":"3c00b036.1da83","type":"api-call-service","z":"be7bae1.f58be5","name":"Set boolean - Heat","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.heating_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":982,"y":480,"wires":[["1be2076.2b328f9"]]},{"id":"2467b9b5.f280c6","type":"switch","z":"be7bae1.f58be5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"65","vt":"num"},{"t":"gte","v":"65","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":762,"y":540,"wires":[["3c00b036.1da83","8d309de3.300f7"],["1f4ffc0f.32a364","5fa89e0e.e1884"]]},{"id":"1f4ffc0f.32a364","type":"api-call-service","z":"be7bae1.f58be5","name":"Set boolean - Cool","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.heating_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":982,"y":600,"wires":[["13b7161b.79d31a"]]},{"id":"1be2076.2b328f9","type":"change","z":"be7bae1.f58be5","name":"","rules":[{"t":"set","p":"heatmode","pt":"flow","to":"heat","tot":"str"},{"t":"set","p":"hvac_mode","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1232,"y":480,"wires":[["5bee988a.d723e8"]]},{"id":"13b7161b.79d31a","type":"change","z":"be7bae1.f58be5","name":"","rules":[{"t":"set","p":"heatmode","pt":"flow","to":"cool","tot":"str"},{"t":"set","p":"hvac_mode","pt":"msg","to":"cool","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1232,"y":600,"wires":[["5bee988a.d723e8"]]},{"id":"5bee988a.d723e8","type":"change","z":"be7bae1.f58be5","name":"","rules":[{"t":"set","p":"heatmode","pt":"msg","to":"heatmode","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":540,"wires":[[]]},{"id":"8d309de3.300f7","type":"api-call-service","z":"be7bae1.f58be5","name":"Set selection - Heat","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.hvac_mode","data":"{\"entity_id\":\"input_select.hvac_mode\",\"option\":\"heat\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":982,"y":520,"wires":[[]]},{"id":"5fa89e0e.e1884","type":"api-call-service","z":"be7bae1.f58be5","name":"Set selection - Cool","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.hvac_mode","data":"{\"entity_id\":\"input_select.hvac_mode\",\"option\":\"cool\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":982,"y":640,"wires":[[]]},{"id":"5cef2144.4b28c","type":"switch","z":"be7bae1.f58be5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"vacation","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":200,"wires":[["f6f7b446.a13248"],["4b46c6bc.94af98"]]},{"id":"4b46c6bc.94af98","type":"change","z":"be7bae1.f58be5","name":"Save heatsched - scheduled","rules":[{"t":"set","p":"heatsched","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":260,"wires":[["c2ec02c0.0b299"]]},{"id":"f6f7b446.a13248","type":"change","z":"be7bae1.f58be5","name":"Save heatsched - vacation","rules":[{"t":"set","p":"heatsched","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[["3c9485de.21da0a"]]},{"id":"3c9485de.21da0a","type":"delay","z":"be7bae1.f58be5","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":200,"wires":[["c2ec02c0.0b299"]]},{"id":"10aafe9.6dfeb01","type":"tab","label":"Heat - Cool boost","disabled":false,"info":""},{"id":"a53fd7c7.144808","type":"server-state-changed","z":"10aafe9.6dfeb01","name":"Boost Go","server":"a8f6d56d.afef28","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.heating_boost","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":96,"y":1134,"wires":[["5e030217.e3279c"],[]]},{"id":"1a0c2fbf.47e35","type":"api-current-state","z":"10aafe9.6dfeb01","name":"Room","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.heating_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":1272,"wires":[["5c442fc7.92cc1"]]},{"id":"5c442fc7.92cc1","type":"switch","z":"10aafe9.6dfeb01","name":"main, masters, upstairs","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Main","vt":"str"},{"t":"eq","v":"Master","vt":"str"},{"t":"eq","v":"Upstairs","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":690,"y":1312,"wires":[["13840705.411789","2af418b8.ef50b8"],["58510c91.c4d644","8d52058d.d912c8"],["9a7f8dc.767a57","14b40ee0.c89d81"]]},{"id":"5e030217.e3279c","type":"api-current-state","z":"10aafe9.6dfeb01","name":"Automation on","server":"a8f6d56d.afef28","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.heating_boost_automation","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":1232,"wires":[["b5eeee43.48b14"],[]]},{"id":"b5eeee43.48b14","type":"switch","z":"10aafe9.6dfeb01","name":"ON only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":1312,"wires":[["1a0c2fbf.47e35","d1dcf7a1.00fc18"]]},{"id":"61363b7c.114674","type":"comment","z":"10aafe9.6dfeb01","name":"HVAC scheduling","info":"","x":140,"y":60,"wires":[]},{"id":"a72b484d.a1e378","type":"comment","z":"10aafe9.6dfeb01","name":"Boost","info":"","x":70,"y":1080,"wires":[]},{"id":"4f4f01cf.ee42c","type":"light-scheduler","z":"10aafe9.6dfeb01","settings":"6a985c4c.820504","events":"[{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":2,\"mod\":330}},{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":330}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":3,\"mod\":330}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":4,\"mod\":330}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":5,\"mod\":330}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":6,\"mod\":450}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":0,\"mod\":450}},{\"start\":{\"dow\":1,\"mod\":1320},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":2,\"mod\":1320},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":1320},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":1320},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":1320},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":1320},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":1320},\"end\":{\"dow\":1,\"mod\":0}}]","topic":"","name":"Schedule - Overnight","onPayload":"overnight","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":403,"y":331,"wires":[["4aa25641.c3b478"]]},{"id":"6b1b0ecc.4be34","type":"light-scheduler","z":"10aafe9.6dfeb01","settings":"6a985c4c.820504","events":"[{\"start\":{\"dow\":1,\"mod\":330},\"end\":{\"dow\":1,\"mod\":930}},{\"start\":{\"dow\":2,\"mod\":330},\"end\":{\"dow\":2,\"mod\":930}},{\"start\":{\"dow\":3,\"mod\":330},\"end\":{\"dow\":3,\"mod\":930}},{\"start\":{\"dow\":4,\"mod\":330},\"end\":{\"dow\":4,\"mod\":930}},{\"start\":{\"dow\":5,\"mod\":330},\"end\":{\"dow\":5,\"mod\":930}},{\"start\":{\"dow\":6,\"mod\":450},\"end\":{\"dow\":6,\"mod\":930}},{\"start\":{\"dow\":0,\"mod\":450},\"end\":{\"dow\":0,\"mod\":930}}]","topic":"","name":"Schedule - Morning","onPayload":"morning","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":391,"y":385,"wires":[["ad2ca156.74c9a"]]},{"id":"c9a2f520.3014b8","type":"light-scheduler","z":"10aafe9.6dfeb01","settings":"6a985c4c.820504","events":"[{\"start\":{\"dow\":1,\"mod\":930},\"end\":{\"dow\":1,\"mod\":1320}},{\"start\":{\"dow\":2,\"mod\":930},\"end\":{\"dow\":2,\"mod\":1320}},{\"start\":{\"dow\":3,\"mod\":930},\"end\":{\"dow\":3,\"mod\":1320}},{\"start\":{\"dow\":4,\"mod\":930},\"end\":{\"dow\":4,\"mod\":1320}},{\"start\":{\"dow\":5,\"mod\":930},\"end\":{\"dow\":5,\"mod\":1320}},{\"start\":{\"dow\":6,\"mod\":930},\"end\":{\"dow\":6,\"mod\":1320}},{\"start\":{\"dow\":0,\"mod\":930},\"end\":{\"dow\":0,\"mod\":1320}}]","topic":"","name":"Schedule - Evening","onPayload":"evening","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":391,"y":455,"wires":[["d960580c.fa5238"]]},{"id":"58d7e5a2.f8560c","type":"inject","z":"10aafe9.6dfeb01","name":"","repeat":"","crontab":"","once":true,"onceDelay":"90","topic":"","payload":"schedule-only","payloadType":"str","x":161,"y":425,"wires":[["4f4f01cf.ee42c","6b1b0ecc.4be34","c9a2f520.3014b8"]]},{"id":"ee7d59a2.ca5a58","type":"inject","z":"10aafe9.6dfeb01","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":192,"y":351,"wires":[["4f4f01cf.ee42c","6b1b0ecc.4be34","c9a2f520.3014b8"]]},{"id":"8071e6ae.4788d8","type":"inject","z":"10aafe9.6dfeb01","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":191,"y":265,"wires":[["4f4f01cf.ee42c","6b1b0ecc.4be34","c9a2f520.3014b8"]]},{"id":"5571d07c.2ada4","type":"inject","z":"10aafe9.6dfeb01","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":191,"y":305,"wires":[["4f4f01cf.ee42c","6b1b0ecc.4be34","c9a2f520.3014b8"]]},{"id":"81e0964c.d8ace8","type":"inject","z":"10aafe9.6dfeb01","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":191,"y":385,"wires":[["4f4f01cf.ee42c","6b1b0ecc.4be34","c9a2f520.3014b8"]]},{"id":"4aa25641.c3b478","type":"switch","z":"10aafe9.6dfeb01","name":"Not OFF","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":320,"wires":[["39d99426.b7d0fc","ab615fd7.a085c","1e07eb6a.e67cc5","ad23fe30.1e792"]]},{"id":"ad2ca156.74c9a","type":"switch","z":"10aafe9.6dfeb01","name":"Not OFF","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":621,"y":385,"wires":[["39d99426.b7d0fc","ab615fd7.a085c","1e07eb6a.e67cc5","ad23fe30.1e792"]]},{"id":"d960580c.fa5238","type":"switch","z":"10aafe9.6dfeb01","name":"Not OFF","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":460,"wires":[["39d99426.b7d0fc","ab615fd7.a085c","1e07eb6a.e67cc5","ad23fe30.1e792"]]},{"id":"6ddba333.4a92ec","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool temp - main","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_default_main_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1480,"y":30,"wires":[["a64b22f5.0327e"]]},{"id":"e4c1fe0.698e5","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat temp - main","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_default_main_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1490,"y":210,"wires":[["a64b22f5.0327e"]]},{"id":"39d99426.b7d0fc","type":"api-current-state","z":"10aafe9.6dfeb01","name":"get current outside temp","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.pentair_airtemp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":910,"y":180,"wires":[[]]},{"id":"e04c1828.21f618","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool temp - master","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_default_master_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1490,"y":400,"wires":[["344cd823.03ced8"]]},{"id":"47f920c9.8e214","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat temp - master","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_default_master_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1490,"y":580,"wires":[["344cd823.03ced8"]]},{"id":"409f8818.4947e8","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool temp - upstairs","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_default_upstairs_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1490,"y":780,"wires":[["fd5d6401.1f1d48"]]},{"id":"f5cff8f5.f4afa8","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat temp - upstairs","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_default_upstairs_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1500,"y":960,"wires":[["fd5d6401.1f1d48"]]},{"id":"ab615fd7.a085c","type":"subflow:be7bae1.f58be5","z":"10aafe9.6dfeb01","name":"","env":[],"x":870,"y":280,"wires":[["eb464cf8.a6506"]]},{"id":"a64b22f5.0327e","type":"api-call-service","z":"10aafe9.6dfeb01","name":"call climate - first floor","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.first_floor","data":"{        \"entity_id\": \"climate.first_floor\",        \"temperature\": {{payload}},        \"hvac_mode\": \"{{ states.input_select.hvac_mode }}\"     }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1940,"y":180,"wires":[[]]},{"id":"1e07eb6a.e67cc5","type":"subflow:be7bae1.f58be5","z":"10aafe9.6dfeb01","name":"","env":[],"x":870,"y":500,"wires":[["715fb222.c9029c"]]},{"id":"ad23fe30.1e792","type":"subflow:be7bae1.f58be5","z":"10aafe9.6dfeb01","name":"","env":[],"x":870,"y":720,"wires":[["cebc66c7.e87778"]]},{"id":"344cd823.03ced8","type":"api-call-service","z":"10aafe9.6dfeb01","name":"call climate - master","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.master","data":"{        \"entity_id\": \"climate.master\",        \"temperature\": {{payload}},        \"hvac_mode\": \"{{ states.input_select.hvac_mode }}\"     }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1940,"y":540,"wires":[[]]},{"id":"fd5d6401.1f1d48","type":"api-call-service","z":"10aafe9.6dfeb01","name":"call climate - upstairs","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.upstairs","data":"{        \"entity_id\": \"climate.upstairs\",        \"temperature\": {{payload}},        \"hvac_mode\": \"{{ states.input_select.hvac_mode }}\"     }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1960,"y":920,"wires":[[]]},{"id":"1503b343.7f1ecd","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool evening temp - main","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_evening_main_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1510,"y":70,"wires":[["a64b22f5.0327e"]]},{"id":"dfac97e7.6dd188","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool overnight temp - main","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_overnight_main_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1520,"y":110,"wires":[["a64b22f5.0327e"]]},{"id":"2aac46b1.0564da","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat overnight temp - main","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_overnight_main_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1520,"y":290,"wires":[["a64b22f5.0327e"]]},{"id":"e41314d5.31eba8","type":"server-state-changed","z":"10aafe9.6dfeb01","name":"Vacation / Vacant","server":"a8f6d56d.afef28","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.home_occupied","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":141,"y":562,"wires":[["b7f85e4c.7e2dd","3abce177.eaa03e"],["ab05b76c.e64fe8"]]},{"id":"b7f85e4c.7e2dd","type":"change","z":"10aafe9.6dfeb01","name":"Set Vacation / no one home active","rules":[{"t":"set","p":"payload","pt":"msg","to":"vacation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":520,"wires":[["ad23fe30.1e792","1e07eb6a.e67cc5","ab615fd7.a085c"]]},{"id":"ab05b76c.e64fe8","type":"change","z":"10aafe9.6dfeb01","name":"revert to schedule","rules":[{"t":"set","p":"payload","pt":"msg","to":"schedule-only","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":620,"wires":[["7a14a265.10979c"]]},{"id":"3abce177.eaa03e","type":"change","z":"10aafe9.6dfeb01","name":"overide-schedule","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":560,"wires":[["7a14a265.10979c"]]},{"id":"7a14a265.10979c","type":"link out","z":"10aafe9.6dfeb01","name":"Schedule injection","links":["71ab203d.64ff6"],"x":595,"y":620,"wires":[]},{"id":"71ab203d.64ff6","type":"link in","z":"10aafe9.6dfeb01","name":"Schedule injection","links":["7a14a265.10979c"],"x":215,"y":480,"wires":[["c9a2f520.3014b8","6b1b0ecc.4be34","4f4f01cf.ee42c"]]},{"id":"5ee262f8.61b37c","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool temp - empty","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_default_empty_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1490,"y":150,"wires":[["a64b22f5.0327e"]]},{"id":"79fe1ec4.a741f","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool temp - empty","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_default_empty_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1490,"y":518,"wires":[["344cd823.03ced8"]]},{"id":"cdf3ab81.62fd58","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool temp - empty","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_default_empty_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1490,"y":900,"wires":[["fd5d6401.1f1d48"]]},{"id":"e2395eac.872a5","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat temp - empty","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_default_empty_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1490,"y":1080,"wires":[["fd5d6401.1f1d48"]]},{"id":"4169ba62.1f7c94","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat temp - empty","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_default_empty_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1490,"y":700,"wires":[["344cd823.03ced8"]]},{"id":"7c879157.9c29a","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat temp - empty","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_default_empty_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1490,"y":330,"wires":[["a64b22f5.0327e"]]},{"id":"d7d25bd4.a109b8","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat evening temp - main","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_default_main_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1510,"y":250,"wires":[["a64b22f5.0327e"]]},{"id":"9b7a614c.def09","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool evening temp - master","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_evening_master_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1520,"y":440,"wires":[["344cd823.03ced8"]]},{"id":"5b039a53.4095f4","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool overnight temp - master","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_overnight_master_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1520,"y":480,"wires":[["344cd823.03ced8"]]},{"id":"b8159cf1.1ff9e","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat overnight temp - master","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_overnight_master_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1520,"y":660,"wires":[["344cd823.03ced8"]]},{"id":"c6490e4a.f8a98","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat evening temp - master","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_evening_master_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1520,"y":620,"wires":[["344cd823.03ced8"]]},{"id":"b8905b8d.e15bf8","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool evening temp - upstairs","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_evening_upstairs_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1520,"y":820,"wires":[["fd5d6401.1f1d48"]]},{"id":"80ee8ffc.eedc6","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool overnight temp - upstairs","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_overnight_upstairs_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1530,"y":860,"wires":[["fd5d6401.1f1d48"]]},{"id":"ee75c3c7.73416","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat evening temp - upstairs","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_evening_upstairs_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1520,"y":1000,"wires":[["fd5d6401.1f1d48"]]},{"id":"a556178c.6b9348","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat overnight temp - upstairs","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_overnight_upstairs_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1530,"y":1040,"wires":[["fd5d6401.1f1d48"]]},{"id":"13840705.411789","type":"api-call-service","z":"10aafe9.6dfeb01","name":"turn on - boost main","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.heating_boost_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":1212,"wires":[["1ae3654a.c2aeab"]]},{"id":"58510c91.c4d644","type":"api-call-service","z":"10aafe9.6dfeb01","name":"Set boolean - boost master","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.heating_boost_master","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":1312,"wires":[["1843c123.5fba0f"]]},{"id":"9a7f8dc.767a57","type":"api-call-service","z":"10aafe9.6dfeb01","name":"Set boolean - boost upstairs","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.heating_boost_upstairs","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":1412,"wires":[["35d86709.96fd28"]]},{"id":"f25d0204.7714b","type":"api-call-service","z":"10aafe9.6dfeb01","name":"turn off - boost main","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.heating_boost_main","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1460,"y":1200,"wires":[[]]},{"id":"d1dcf7a1.00fc18","type":"api-call-service","z":"10aafe9.6dfeb01","name":"turn off - boost","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.heating_boost","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":1372,"wires":[[]]},{"id":"7591d744.f00828","type":"server-state-changed","z":"10aafe9.6dfeb01","name":"Boost main ","server":"a8f6d56d.afef28","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.heating_boost_main","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":125,"y":685,"wires":[[],["f60af6dd.067e98"]]},{"id":"abb94353.22f8d","type":"server-state-changed","z":"10aafe9.6dfeb01","name":"Boost master","server":"a8f6d56d.afef28","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.heating_boost_master","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":115,"y":745,"wires":[[],["f60af6dd.067e98"]]},{"id":"ccc0ba06.33b288","type":"server-state-changed","z":"10aafe9.6dfeb01","name":"Boost upstairs","server":"a8f6d56d.afef28","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.heating_boost_upstairs","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":115,"y":805,"wires":[[],["f60af6dd.067e98"]]},{"id":"1ae3654a.c2aeab","type":"subflow:3475c880.46cbe8","z":"10aafe9.6dfeb01","name":"","x":1220,"y":1200,"wires":[["f25d0204.7714b"]]},{"id":"b9d212ae.71306","type":"api-call-service","z":"10aafe9.6dfeb01","name":"turn off - boost master","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.heating_boost_master","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1460,"y":1300,"wires":[[]]},{"id":"1843c123.5fba0f","type":"subflow:3475c880.46cbe8","z":"10aafe9.6dfeb01","name":"","x":1240,"y":1300,"wires":[["b9d212ae.71306"]]},{"id":"a9fd9411.2e3108","type":"api-call-service","z":"10aafe9.6dfeb01","name":"turn off - boost upstairs","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.heating_boost_upstairs","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1460,"y":1420,"wires":[[]]},{"id":"35d86709.96fd28","type":"subflow:3475c880.46cbe8","z":"10aafe9.6dfeb01","name":"","x":1240,"y":1420,"wires":[["a9fd9411.2e3108"]]},{"id":"fd4c429b.fdd4d","type":"api-call-service","z":"10aafe9.6dfeb01","name":"call climate - upstairs","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.first_floor","data":"{        \"entity_id\": \"climate.upstairs\",        \"temperature\": {{payload}},        \"hvac_mode\": \"{{ states.input_select.hvac_mode }}\"     }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2100,"y":1460,"wires":[[]]},{"id":"c26e5104.96645","type":"api-call-service","z":"10aafe9.6dfeb01","name":"call climate - master","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.master","data":"{        \"entity_id\": \"climate.master\",        \"temperature\": {{payload}},        \"hvac_mode\": \"{{ states.input_select.hvac_mode }}\"     }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2100,"y":1360,"wires":[[]]},{"id":"e2fd56cb.550ce8","type":"api-call-service","z":"10aafe9.6dfeb01","name":"call climate - main","server":"a8f6d56d.afef28","version":1,"debugenabled":true,"service_domain":"climate","service":"set_temperature","entityId":"climate.first_floor","data":"{        \"entity_id\": \"climate.first_floor\",        \"temperature\": {{payload}},        \"hvac_mode\": \"{{ states.input_select.hvac_mode }}\"     }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2090,"y":1240,"wires":[[]]},{"id":"2af418b8.ef50b8","type":"change","z":"10aafe9.6dfeb01","name":"set boost payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"boost","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1260,"wires":[["7cc86eac.c7d11"]]},{"id":"7cc86eac.c7d11","type":"subflow:be7bae1.f58be5","z":"10aafe9.6dfeb01","name":"","x":1230,"y":1260,"wires":[["8471507c.7bac"]]},{"id":"8d52058d.d912c8","type":"change","z":"10aafe9.6dfeb01","name":"set boost payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"boost","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1360,"wires":[["f6089e0f.2f12e"]]},{"id":"f6089e0f.2f12e","type":"subflow:be7bae1.f58be5","z":"10aafe9.6dfeb01","name":"","x":1230,"y":1360,"wires":[["25eaf6c8.e5948a"]]},{"id":"14b40ee0.c89d81","type":"change","z":"10aafe9.6dfeb01","name":"set boost payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"boost","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1460,"wires":[["38a8a7b4.efe3c8"]]},{"id":"38a8a7b4.efe3c8","type":"subflow:be7bae1.f58be5","z":"10aafe9.6dfeb01","name":"","x":1230,"y":1460,"wires":[["11b03167.01c15f"]]},{"id":"8471507c.7bac","type":"api-current-state","z":"10aafe9.6dfeb01","name":"check heat or cool","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.heating_mode","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1450,"y":1260,"wires":[["246a91c6.d1626e"]]},{"id":"246a91c6.d1626e","type":"switch","z":"10aafe9.6dfeb01","name":"cool / heat mode","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1650,"y":1260,"wires":[["ec5d3ec5.464e7"],["d182c4e3.6127e8"]]},{"id":"d182c4e3.6127e8","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat temp - boost","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_boost_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1850,"y":1280,"wires":[["e2fd56cb.550ce8"]]},{"id":"ec5d3ec5.464e7","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool temp - boost","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_boost_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1850,"y":1220,"wires":[["e2fd56cb.550ce8"]]},{"id":"25eaf6c8.e5948a","type":"api-current-state","z":"10aafe9.6dfeb01","name":"check heat or cool","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.heating_mode","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1450,"y":1360,"wires":[["369fafff.19669"]]},{"id":"369fafff.19669","type":"switch","z":"10aafe9.6dfeb01","name":"cool / heat mode","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1650,"y":1360,"wires":[["f7dcb9c9.5bf5d8"],["55656128.f6c9a"]]},{"id":"f7dcb9c9.5bf5d8","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool temp - boost","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_boost_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1850,"y":1320,"wires":[["c26e5104.96645"]]},{"id":"55656128.f6c9a","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat temp - boost","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_boost_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1850,"y":1400,"wires":[["c26e5104.96645"]]},{"id":"11b03167.01c15f","type":"api-current-state","z":"10aafe9.6dfeb01","name":"check heat or cool","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.heating_mode","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1450,"y":1460,"wires":[["f5705363.54d23"]]},{"id":"f5705363.54d23","type":"switch","z":"10aafe9.6dfeb01","name":"cool / heat mode","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1650,"y":1460,"wires":[["39fbd5bb.3d8fea"],["d8c6da28.c1ae98"]]},{"id":"39fbd5bb.3d8fea","type":"api-current-state","z":"10aafe9.6dfeb01","name":"cool temp - boost","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.cool_boost_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1850,"y":1440,"wires":[["fd4c429b.fdd4d"]]},{"id":"d8c6da28.c1ae98","type":"api-current-state","z":"10aafe9.6dfeb01","name":"heat temp - boost","server":"a8f6d56d.afef28","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.heat_boost_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1850,"y":1500,"wires":[["fd4c429b.fdd4d"]]},{"id":"f60af6dd.067e98","type":"change","z":"10aafe9.6dfeb01","name":"turn off scheduler","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":355,"y":745,"wires":[["7a14a265.10979c","8485bd4d.b32a4"]]},{"id":"8485bd4d.b32a4","type":"delay","z":"10aafe9.6dfeb01","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":680,"wires":[["ab05b76c.e64fe8"]]},{"id":"9fe95737.067308","type":"change","z":"10aafe9.6dfeb01","name":"Master Boost","rules":[{"t":"set","p":"payload","pt":"msg","to":"Master","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1180,"wires":[["5c442fc7.92cc1","d2c13616.fdc3d8"]]},{"id":"3d69c10e.9aeb3e","type":"server-state-changed","z":"10aafe9.6dfeb01","name":"Button Boost - Master","server":"a8f6d56d.afef28","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.button_boost_master","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":380,"y":1120,"wires":[["9fe95737.067308"],[]]},{"id":"d2c13616.fdc3d8","type":"api-call-service","z":"10aafe9.6dfeb01","name":"turn off - boost","server":"a8f6d56d.afef28","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.button_boost_master","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":1180,"wires":[[]]},{"id":"cebc66c7.e87778","type":"api-current-state","z":"10aafe9.6dfeb01","name":"are guests home","server":"a8f6d56d.afef28","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guests_home","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":850,"y":800,"wires":[["f4ee3e3d.0480a"],["c4c052be.b769a"]]},{"id":"c4c052be.b769a","type":"change","z":"10aafe9.6dfeb01","name":"set heatsched - vacation","rules":[{"t":"set","p":"heatsched","pt":"msg","to":"vacation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":940,"wires":[["f4ee3e3d.0480a"]]},{"id":"f4ee3e3d.0480a","type":"subflow:b6fb89e.5648378","z":"10aafe9.6dfeb01","name":"","x":1220,"y":940,"wires":[["409f8818.4947e8"],["b8905b8d.e15bf8"],["80ee8ffc.eedc6"],["cdf3ab81.62fd58"],["f5cff8f5.f4afa8"],["ee75c3c7.73416"],["a556178c.6b9348"],["e2395eac.872a5"]]},{"id":"715fb222.c9029c","type":"subflow:b6fb89e.5648378","z":"10aafe9.6dfeb01","name":"","x":1220,"y":560,"wires":[["e04c1828.21f618"],["9b7a614c.def09"],["5b039a53.4095f4"],["79fe1ec4.a741f"],["47f920c9.8e214"],["c6490e4a.f8a98"],["b8159cf1.1ff9e"],["4169ba62.1f7c94"]]},{"id":"eb464cf8.a6506","type":"subflow:b6fb89e.5648378","z":"10aafe9.6dfeb01","name":"","x":1220,"y":180,"wires":[["6ddba333.4a92ec"],["1503b343.7f1ecd"],["dfac97e7.6dd188"],["5ee262f8.61b37c"],["e4c1fe0.698e5"],["d7d25bd4.a109b8"],["2aac46b1.0564da"],["7c879157.9c29a"]]},{"id":"a8f6d56d.afef28","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"6a985c4c.820504","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"39","longitude":"-94"}]